<h1>Renewable Yield</h1>
<h3>Someday renewable energy will just be known as energy.  Our intention is to be a part of making that happen while earning a return for investors.  The are many kinds of renewable energy - solar, wind, tidal and geothermic are examples but we will focus initially on the residential solar market.  The solar market and the residential projects that we would be investing in are a part of the largest, most mature, most diverse and most commoditized of the renewable energy markets.</h3>
<%= link_to 'Get Invested', investors_path %>
<%= link_to 'Get Funded', providers_path %>

